.redux-container {
  padding: 10px 2px 100px 10px;
  border: none !important;
  background: transparent !important;
  box-shadow: none !important; }
.redux-container .lsd-alert.lsd-info {
  background-color: #f3eeff;
  color: #381c70;
  border: 1px solid #8241ff;
  border-left-width: 4px; }
.redux-container .form-table th, .redux-container .form-table td {
  padding-bottom: 12px !important; }
.redux-container #redux-header {
  background: url("../img/listdomer.webp") no-repeat !important;
  border-color: #1841CE !important;
  padding: 20px 50px !important;
  border-radius: 5px 5px 0 0 !important; }
.redux-container #redux-header .display_header {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  float: unset !important;
  gap: 10px;
  margin: 0 !important; }
.redux-container #redux-header .display_header h2 {
  margin: 0 !important; }
.redux-container .redux-action_bar {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; }
.redux-container .redux-action_bar .button {
  border: 1px solid #8241ff !important;
  color: #8241ff !important;
  font-size: 15px !important; }
.redux-container .redux-action_bar .button-primary {
  background: linear-gradient(0.25turn, #1841CE, #8241ff);
  border-radius: 4px !important;
  border: none !important;
  color: white !important;
  font-size: 15px;
  padding: 0 15px !important; }
.redux-container .redux-action_bar .button-primary:hover, .redux-container .redux-action_bar .button-primary:active, .redux-container .redux-action_bar .button-primary:focus {
  background: #8241ff !important;
  color: #fff !important; }
.redux-container .redux-action_bar .button-primary:disabled {
  background: #E6F7FF !important;
  color: #000000 !important;
  cursor: not-allowed;
  opacity: .5; }
.redux-container .redux-main {
  border-right: 1px solid #d8d8d8; }
.redux-container .redux-main.expand {
  margin-left: 0 !important; }
.redux-container .redux-main input[type=color], .redux-container .redux-main input[type=date], .redux-container .redux-main input[type=datetime-local], .redux-container .redux-main input[type=datetime], .redux-container .redux-main input[type=email], .redux-container .redux-main input[type=month], .redux-container .redux-main input[type=number], .redux-container .redux-main input[type=password], .redux-container .redux-main input[type=search], .redux-container .redux-main input[type=tel], .redux-container .redux-main input[type=text], .redux-container .redux-main input[type=time], .redux-container .redux-main input[type=url], .redux-container .redux-main input[type=week], .redux-container .redux-main select, .redux-container .redux-main textarea {
  margin: 0;
  padding: 5px 8px;
  max-width: 340px;
  width: 100%;
  height: 35px;
  outline: none;
  border-radius: 4px;
  box-shadow: none;
  line-height: 1;
  transition: .2s border-color ease-in-out, .2s box-shadow ease-in-out;
  border: 1px solid rgba(16, 16, 16, 0.1);
  background-color: #f0f0f1;
  color: #2c3338; }
.redux-container .redux-main .field-border-input {
  display: flex !important; }
.redux-container .redux-main .field-border-input .add-on {
  padding: 4px !important;
  font-size: 14px !important; }
.redux-container .redux-main .redux-group-tab {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 5px;
  background-color: #F7F7F7 !important; }
.redux-container .redux-main .lsdrc-hide-redux-title {
  background: white !important; }
.redux-container .redux-main .lsdrc-hide-redux-title h2 {
  display: none; }
.redux-container .redux-main .wp-picker-container {
  outline: 0 !important;
  position: relative !important;
  display: inline-flex !important;
  align-items: center; }
.redux-container .redux-main .wp-picker-container .wp-picker-input-wrap label {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  position: absolute;
  top: calc(35px + 17px);
  inset-inline-start: 10px;
  z-index: 500;
  animation: lsd-SlideFromBottomSmall .2s ease; }
.redux-container .redux-main .wp-picker-container input[type=text].wp-color-picker {
  height: 30px;
  width: 236px !important; }
.redux-container .redux-main .wp-picker-container .wp-picker-holder .iris-picker {
  position: absolute;
  top: 35px;
  inset-inline: 0;
  z-index: 401;
  min-height: 254px !important;
  border: 1px solid rgba(16, 16, 16, 0.08);
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: lsd-SlideFromBottomSmall .2s ease; }
.redux-container .redux-main .wp-picker-container .wp-picker-holder .iris-picker-inner {
  padding-top: calc(35px + 10px); }
.redux-container .redux-main .wp-picker-container .wp-picker-holder .iris-border .iris-palette-container {
  left: 10px;
  bottom: 10px; }
.redux-container .redux-main .wp-picker-container .wp-picker-holder .iris-palette-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0; }
.redux-container .redux-main .wp-color-result .wp-color-result-text {
  padding: 0 !important;
  width: 25px !important;
  height: 25px !important;
  border: none;
  border-radius: 4px;
  font-size: 0 !important;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFF0 !important; }
.redux-container .redux-main .wp-color-result .wp-color-result-text:before {
  font-size: 14px;
  content: "\f1fc";
  font-weight: 900;
  font-family: "Font Awesome 5 Free" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.redux-container .redux-main .wp-color-result.button {
  position: relative;
  margin-inline-end: 0 !important;
  margin-bottom: 0 !important;
  padding: 2px !important;
  padding-inline-start: calc(35px + 4px) !important;
  height: 35px !important;
  min-height: 35px !important;
  border: 1px solid rgba(16, 16, 16, 0.08) !important;
  border-radius: 4px;
  background-image: none !important; }
.redux-container .redux-main .redux-image-select img {
  width: 90px;
  height: 90px; }
.redux-container #redux-footer {
  border-bottom: 1px solid #d8d8d8; }
.redux-container #redux-footer.sticky-footer-fixed {
  border-bottom: 0;
  border-top: 0;
  right: unset !important; }
.redux-container .redux-sidebar .redux-group-menu li.redux-section-hover > a, .redux-container .redux-sidebar .redux-group-menu li:hover > a {
  background: linear-gradient(0.25turn, #1841CE, #8241ff) !important;
  color: #fff !important; }
.redux-container .redux-sidebar .redux-group-menu li.redux-section-hover ul.subsection li.redux-group-tab-link-li:hover a.redux-group-tab-link-a, .redux-container .redux-sidebar .redux-group-menu li:hover ul.subsection li.redux-group-tab-link-li:hover a.redux-group-tab-link-a {
  color: #fff !important; }
.redux-container .redux-sidebar .redux-group-menu li a.redux-group-tab-link-a:hover {
  background: linear-gradient(0.25turn, #1841CE, #8241ff) !important;
  color: #fff !important; }
.redux-container .redux-sidebar .redux-group-menu li.active a.redux-group-tab-link-a {
  background: linear-gradient(0.25turn, #1841CE, #8241ff) !important; }
.redux-container .redux-sidebar .redux-group-menu li.active a.redux-group-tab-link-a:hover {
  background: linear-gradient(0.25turn, #1841CE, #8241ff) !important;
  color: #fff !important; }
.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a.redux-group-tab-link-a {
  background: linear-gradient(0.25turn, #1841CE, #8241ff) !important;
  color: #fff !important; }
.redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .subsection li.active a {
  font-weight: 700 !important;
  color: #fff !important;
  background: linear-gradient(0.25turn, #1841CE, #8241ff) !important; }
@keyframes lsd-SlideFromBottomSmall {
  0% {
    transform: translate3d(0, 10px, 0);
    opacity: 0; }
  100% {
    transform: none;
    opacity: 1; } }
